<% if !user_signed_in? %>
	<h1>KCM STSM Finances</h1><br>
	<p>
	  <%= render 'devise/sessions/new' %>
	</p>
<% else %>
	<% if @is_admin %>
	  <h1>Listing All Finances</h1><br>
	  <table class = "table table-striped table-bordered" style="width:60%" align="center" >
		<tr class ="info">
		  <td><strong>Name</strong></td>
		  <td><strong>Supporter First Name</strong></td>
		  <td><strong>Supporter Last Name</strong></td>
		  <td><strong>Amount</strong></td>
		  <td><strong>Check?</strong></td>
		  <td><strong>Check Number</strong></td>
		  <td><strong>Submit</strong></td>
		</tr>
		<tr>
		  <%= form_tag root_path do %>
			<td>
			<input list="participant_name" name="participant_name" autocomplete="off">
			<datalist id="participant_name">
			<% @participants.each do |p| %>
			  <option value="<%= p["first_name"] + " " + p["last_name"] + ", " + p["participant_id"] %>">
			<% end %>
			</datalist>
			</td>
			<td><%= text_field_tag(:donor_first_name, "", placeholder: 'Anonymous') %></td>
			<td><%= text_field_tag(:donor_last_name) %></td>
			<td><%= text_field_tag(:donation_value) %></td>
			<td><%= check_box_tag(:is_check) %></td>
			<td><%= text_field_tag(:check_number) %></td>
			<%= hidden_field_tag :recorder, @participant_initials  %>
			<td><%= submit_tag("Submit") %></td>
		  <% end %>
		</tr>
	  </table>
	<% elsif @is_leader %>
		<h1>Listing Team Finances</h1><br>
	<% else %>
		<h1><%= @participant_name %>'s Finances</h1><br>
	<% end %>
	<p>
		<table class = "table table-striped table-bordered" style="width:80%" align="center">
			<tr class = "info"><td><strong>Total</strong></td></tr>
			<tr><td><strong>$<%= number_with_precision(@sum_donations, :precision => 2, :delimiter => ',') %></strong></td></tr>
		</table>
		<%= render 'pages/donationtable' %>
	</p>
<% end %>

<footer>
	
</footer>

