<div class="container">
  <nav class="navbar navbar-default">  
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "KCM STSM Finance", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
		<% if user_signed_in? %>
			<% if Participant.new(current_user.id).is_leader %>
				<li><%= link_to "Team Total", teammanagement_path %></li>
			<% end %>
			<% if Participant.new(current_user.id).is_admin %>
				<li><%= link_to "Team Totals", teammanagement_path %></li>
			<% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>